body, html {
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}
#check-orientation {
    display: none;
    width: 100vw;
    height: 100vh;
    background: url(images/ориентация.gif) no-repeat center center, #9292923f;
}
#game-container {
    position: relative;
    width: 100vw;
    height: 100vh; 
    background-image: url('images/фон4.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

#board {
    position: relative;
    left: 10%;
    top:10%;
    width: 35vw;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    display: flex;
}
@keyframes toCenter {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(50%);
    }
}
#board-images {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#dough {
    position: absolute;
    width: 17vw;
    height: 15vw;
    border-radius: 50%; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    background-color: #f5e0a1;
    transition: width 0.5s ease-out, height 0.5s ease-out; 
}
@keyframes movePizza {
    from {
        transform: translate(0%, 0%);
        opacity: 1;
    }
    to {
        transform: translate(70vw, 0%);
        opacity: 1;
    }
}
@keyframes comeBackPizza {
    from {
        transform: translate(70vw, 0%)
    }
    to {
        transform: translate(0%, 0%);
    }
}
#dough-inner {
    position: absolute;
    background: radial-gradient(circle, #f5e0a1, #f5e2c5);
    border-radius: 50%;
    overflow: hidden;
}
#rolling-pin {
    position: absolute; 
    left: 56vw;
    top: 17vw;
    cursor: grab; 
    z-index: 3;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
}
@keyframes rollAway {
    from {
        transform:  translate(0, 0);
    }
    to {
        transform:  translate(0, -200vh); 
    }
}

#rolling-pin-svg {
    position: relative;
}

#clickMe {
    position: absolute;
    top: 20vw;
    left: 85vw;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
}

#clickMe img {
    width: 6vw;
    height: 6vw;
    margin-left: 43px;
}

.brush-cursor {
    cursor: url('images/cursor.png') 10 40, auto;
}

.rotating-cursor {
    cursor: url('images/cursorrotated.png') 0 80, auto;
}

#svgClickMe {
    position: absolute;
    top: 6vw;
    right: 5vw;
}
.sauce {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-image: url(images/соус2.jpg);
    background-size: cover;
    pointer-events: none;  
}

#yesButton {
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

#ingredients-menu {
    position: absolute;
    top: 50%;
    right: -30vw; 
    transform: translateY(-50%);
    width: 30vw;
    height: 80vh;
    background-image: url(images/меню.jpg);
    background-size: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow-y: auto;
    transition: right 0.5s ease;
}

#ingredients-menu.visible {
    right: 10px; 
}
#plate-container {
    position: relative;
    width: 28vw;
    height: 28vw;
    top: 3vh;
}

#plate {
    position: relative;
    width: 26vw;
    height: 26vw;
    top: 2vh;
    left: 2vw;
}

#ingredients-menu h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    color: #ffffffea;
    height: auto;
    margin-top: 26px;
    margin-left: 7px;
    -webkit-text-stroke: 1px #ff6161ae;
    letter-spacing: 0.1px;
}

#cheese {
    position: absolute;
    width: 7vw;
    height: 6vw;
    right: 13vw;
    top:3vw;
    cursor: pointer;
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}

#peperoni {
    position: absolute;
    width: 7vw;
    height: 5vw;
    right: 6vw;
    top:3vw;
    cursor: pointer;
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}

#ham {
    position: absolute;
    width: 6vw;
    height: 6vw;
    right: 18vw;
    top: 9vw;
    cursor: pointer;
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}
#olive {
    position: absolute;
    width: 5vw;
    height: 5vw;
    right: 19vw;
    top:15.5vw;
    cursor: pointer;
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}

#mushrooms {
    position: absolute;
    width: 6vw;
    height: 4vw;
    right: 11vw;
    top:9vw;
    cursor: pointer;
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}

#tomato {
    position: absolute;
    width: 6vw;
    height: 6vw;
    right: 3vw;
    top:7vw;
    cursor: pointer;
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}
#jalapeno {
    position: absolute;
    width: 8vw;
    height: 4vw;
    right: 4vw;
    top:20vw;
    cursor: pointer;
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}
#cucumber {
    position: absolute;
    width: 10vw;
    height: 2.5vw;
    right: 8vw;
    top:22vw;
    cursor: pointer;
    transform: rotate(45deg);
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}
#cucumber:hover {
    transform: rotate(45deg) scale(1.2);
    filter: drop-shadow(10px 3px 5px rgba(0, 0, 0, 0.5));
    z-index: 10;
}
#pineapple {
    position: absolute;
    width: 6vw;
    height: 5vw;
    right: 12vw;
    top:14vw;
    cursor: pointer;
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}
#onion {
    position: absolute;
    width: 6vw;
    height: 4vw;
    right: 7vw;
    top:13vw;
    cursor: pointer;
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}
#pepper {
    position: absolute;
    width: 7vw;
    height: 5vw;
    right: 0vw;
    top: 14vw;
    cursor: pointer;
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}
#basil {
    position: absolute;
    width: 5vw;
    height: 3vw;
    right: 16vw;
    top:20vw;
    cursor: pointer;
    transition: transform 0.2s ease;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}
#cheese:hover,
#peperoni:hover,
#ham:hover,
#olive:hover,
#mushrooms:hover,
#tomato:hover,
#jalapeno:hover,
#pineapple:hover,
#onion:hover,
#pepper:hover,
#basil:hover {
    transform: scale(1.2);
    filter: drop-shadow(10px 3px 5px rgba(0, 0, 0, 0.5));
    z-index: 10;
}

#paper-info {
    position: absolute;
    width: 15vw;
    height: 20vw;
    background-image: url(images/тетрадь.png);
    background-size: cover ;
    left:49%;
    top:0px;
    border-radius: 10px;
    filter: drop-shadow(2px 6px 5px rgba(102, 102, 102, 0.5));
    animation: comeOut  1s ease-out forwards;
}

@keyframes comeOut {
    from {
        top: -300px;
    }
    to {
        top: 0px;
    } 
}
#text-info {
    position: absolute;
    top:0px;
    left: 16px;
    display: block;
    width: 12vw;
    font-size: 1.2vw;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

#buttonBake {
    position: absolute;
    bottom: 5px;
    left:20px;
}

#canvas-bake {
    position:absolute;
    width: 30vw;
    height: auto;
    right: 0px;
    top: 10px;
    z-index: 10;
}

@keyframes away {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(100%);
    }
}

.btn {
    width: 6vw;
    height: 4vw;
    border-radius: 60px;
    font-size: 1.5vw;
    border: none;
    position:absolute;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    background-color: #fff2cb;
}
.btn::before {
    content: '';
    width: 0;
    height: 4vw;
    border-radius: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgb(255, 198, 93) 0%, rgb(255, 234, 195) 100% );
    transition: .5s ease;
    z-index: -1;
}
.btn:hover::before {
    width: 6vw;
}
#save-button {
    display: none;
    right: 28vw;
    top: 9vw;
}
#sound-button {
    left: 1vw;
    top: 1vw;
}
#update-button {
    display: none;
    top: 30vw;
    right: 28vw;
}


@media (max-width: 932px) {
    #board {
        top: 2%;
        left: 10%;
    }
    #rolling-pin {
        filter: none;
        left: 43vw;
    }
    #clickMe {
        filter: none;
    }
    #paper-info {
        filter: none;
        box-shadow: 6px 4px 8px #51515165;
    }
    
    #cheese:hover,
    #peperoni:hover,
    #ham:hover,
    #olive:hover,
    #mushrooms:hover,
    #tomato:hover,
    #jalapeno:hover,
    #pineapple:hover,
    #onion:hover,
    #pepper:hover,
    #basil:hover,
    #cucumber:hover {
        transform: none;
        filter: none;
        z-index: 10;
    }
    #cheese,
    #peperoni,
    #ham,
    #olive,
    #mushrooms,
    #tomato,
    #jalapeno,
    #pineapple,
    #onion,
    #pepper,
    #basil, 
    #cucumber {
        filter: none;
    }
    #cucumber {
        transform: rotate(45deg)
    }
    #cucumber:hover {
        transform: rotate(45deg);
    }
    #buttonBake {
        transform: scale(0.5);
        left: 1vw;
        top: 19vw;
    }
    #canvas-bake {
        top: -2vw;
    }
    #update-button {
        top: 26vw;
    }
    #save-button {
        top: 6vw;
    }
}
